footer {
  background-color: #f2f2f7;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

footer .section {
  margin: 0 !important;
  padding: 0;
}

footer .section > div {
  max-width: 100% !important;
  margin: 0;
  padding: 0;
}

footer .footer p {
  margin: 0;
}

footer .footer-links-wrapper,
footer .footer-social-wrapper,
footer .footer-acknowledgement-wrapper {
  max-width: 100% !important;
  padding: 0 !important;
}
